:root {
    --primary-color: #0370a6;
    --secondary-color: #0db1c7;
    --gradient-color: linear-gradient(to right, #0db1c7, #0370a6);
    --white-color: #f1f1f1;
    --black-color: #333;
    --textcolor: #58575d;
    --whitecolordeam: #f1f1f1;
    --greytext: #c1bdbe;
    --inputcolor: #f1ecf0;
    --bodycolor: #f0eff9;
    --cardBG: #e1e1ec;
  }
  
  .header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--whitecolordeam);
    width: 100%;
    padding: 1rem;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(2, 15, 29, 0.242);
    
    .logo {
      color: var(--black-color);
      font-weight: 600;
      cursor: pointer;
      align-items: center;
      justify-content: center;
      
      .icon {
        font-size: 25px;
        color: var(--primary-color);
        transform: translateY(5px);
      }
    }
  
    .toggleNavbar .icon {
      font-size: 30px;
      color: var(--primary-color);
  
      &:hover {
        color: var(--secondary-color);
      }
    }
  
    @media screen and (max-width: 768px) {
      .navBar {
        position: absolute;
        background: var(--whitecolordeam);
        height: -moz-max-content;
        height: max-content;
        width: 80%;
        border-radius: 1rem;
        top: -500rem;
        padding: 1rem;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2000;
        box-shadow: 0 2px 4px rgba(2, 15, 29, 0.904);
        transition: 0.5s ease-in-out;
        
        .navList {
          flex-direction: column;
          justify-content: center;
          margin: auto;
          padding: 0.5rem 0;
          width: 100;
  
          .navItem {
            padding: 0.5rem 0;
  
            .navLink {
              color: var(--textcolor);
              font-size: 0.9rem;
              font-weight: 600;
  
              &:hover {
                color: var(--primary-color);
              }
            }
          }
  
          .btn {
            margin-top: 1rem;
  
            a {
              font-weight: 600;
              color: var(--white-color);
            }
          }
  
          .closeNavbar {
            position: absolute;
            top: 1rem;
            right: 1.5rem;
            color: var(--primary-color);
  
            &:hover {
              color: var(--secondary-color);
            }
          }
        }
  
        &.activeNavbar {
          top: 7rem;
        }
      }
    }
  
    @media screen and (min-width: 768px) {
      .toggleNavbar, .closeNavbar {
        display: none;
      }
  
      padding: 1.5rem 2rem;
  
      .navBar .navList {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
  
        .navItem {
            .navLink{
              color: var(--textcolor);
              padding: 0 0.45rem;
              font-size: 0.9rem;
              font-weight: 500;
  
              &:hover {
                color: var(--primary-color);
              }
            }
        }

        .btn{
            margin-left: 1rem;
            a{
                color: var(--white-color);
                font-weight: 500;
            }
        }
      }
    }

    @media screen and (min-width: 960px){
        .header{
            .navBar{
                .navList{
                    .navItem{
                        padding: 0 0.7rem;
                    }
                }
            }
        }
    }

    @media screen and (min-width: 1240px){
        .header{
            padding: 1rem 8.5rem;
        }
    }
  }
  